$color-primary: #58A09b;
$color-1:#27B69F;
$color-2:#008B75;
$color-3:#FF922E;
$color-4:#0DA2C2;
$color-warning:#E20000;
$color-black:#000000;
$color-gs3:#333333;
$color-gs6:#666666;
$color-gs9:#999999;
$color-gsb4:#B4B4B4;
$color-gse:#EEEEEE;
$color-white:white;

$color-gradual: linear-gradient(181.95deg, #9AD898 1.64%, #62CBBA 98.36%);
$color-gradual-2:linear-gradient(180deg, #FF922E 0%, #FFC42E 100%);
$color-gradual-3:linear-gradient(181.95deg, #12BEC9 1.64%, #1287C9 98.36%);