<ion-header class="home-header">
  <ion-toolbar class="toolbar">
    <ion-title class="home-title">常用功能</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <div class="actions">
    <div class="action">
      <ion-icon class="icon icon-calculate"></ion-icon>
      <div class="title">试算查询</div>
      <div class="label">EZKM</div>
    </div>
    <div class="action">
      <ion-icon class="icon icon-create"></ion-icon>
      <div class="title">行動簽核</div>
      <div class="label">EZKM</div>
    </div>
    <div class="action">
      <ion-icon class="icon icon-person_search"></ion-icon>
      <div class="title">保有查詢 </div>
      <div class="label">EZKM</div>
    </div>
    <div class="action">
      <ion-icon class="icon icon-build"></ion-icon>
      <div class="title">業務工具</div>
      <div class="label">EZKM</div>
    </div>
  </div>
</ion-content>