<ion-header class="home-header">
  <ion-toolbar class="toolbar">
    <ion-title class="home-title">设定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="uinfo">
    <ion-icon class="icon-user-subtract-o"></ion-icon>
    <p class="title">分期經營部 協理</p>
    <p class="name">王以太</p>
  </div>

  <div class="account">
    <span class="label">登入账号</span>
    <span class="num">09101234556</span>
  </div>

  <div class="actions">
    <div class="action">
      <span class="label">生物辨識登入</span>
      <div class="check"><input type="checkbox" class="check__check" id="Fast" value="Fast">
        <div class="check__indicator"></div>
      </div>
    </div>
    <div class="action">
      <span class="label">圖形密碼登入</span>
      <div class="check"><input type="checkbox" class="check__check" id="Fast" value="Fast">
        <div class="check__indicator"></div>
      </div>
    </div>
    <div class="action">
      <span class="label" style="color:#27B69F">設定圖形密碼</span>
    </div>
  </div>

  <p class="tip">登入設定皆需重新登入後始能生效</p>
</ion-content>